body {
  background-image: url(../public/images/bg-body.jpg);
  position: relative;
}

.container {
  max-width: 60%;
}

.text-center {
  text-align: center;
}


.divider {
  text-align:center;
  font-family: 'montserrat';
  position:relative;
}

@media (max-width: 860px) {
  .container {
    max-width: 80%;
  }
}
